@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* center container in the middle */
html {
  display: grid;
  min-height: 100%;
}

h3 {
  display: inline-block;
  text-align: center;
}

body {
    display: grid;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
  }
  
  .product-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 960px;
    height: 540px;
    background: white;
    box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
  }
  
  .product {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
  }

  .loaisp {
      color: grey;
      text-transform: uppercase;
  }

  .tensp {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    margin-top: -5px;
  }

  .giasp {
    font-size: 20px;
    color: black;
    text-transform: none;
    margin-top: -5px;
  }

  .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: black;
    font-size: .7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
  }

  .add {
    width: 67%;
  }
  
  .sizes {
    display: grid;
    top: 60%;
    left: 60%;
    max-width: fit-content;
  }

  .sizes:hover {
    cursor: pointer;
  }
  
  .pick {
    margin-top: 11px;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .focus {
    background: black;
    color: white;
  }

  .themgiohang {
    text-transform: uppercase;
  }