/* ---Banner slider--- */



.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}

.slider-btn{
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: #fff;
    color: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.banner h3{
    color: #111;
    margin: 50px 20px;
    text-align: center;
    font-size: x-small;
}

#dropdown-list{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: center;
}

#buynow{
    text-decoration: none;
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
}
#buynow:hover{
    color: #555;
    background-color: none;

}
#wrapper{
    max-width: 1178px;
    margin: 8 auto;
}
.headline{
    margin: 30px 20px;
}

h3{
    font-size: 20px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;
}

#button-addon1 {
color: #ffc371;
}

i {
color: #ffc371;
}

.form-dangky{
    width: 70%;
    padding: 20px;
    margin: auto;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}
.form-dangnhap{
    width: 50%;
    padding: 20px;
    margin: auto;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

