#dropdown-list{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: center;
}
.banner h3{
    color: #111;
    margin: 50px 20px;
    text-align: center;
    font-size: x-small;
}
#buynow{
    text-decoration: none;
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
}
#buynow:hover{
    color: #555;
    background-color: none;

}
#wrapper{
    max-width: 1178px;
    margin: 8 auto;
}
.headline{
    margin: 30px 20px;
}
h3{
    font-size: 20px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;
}
ul.product{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul.product li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.product li img{
    max-width: 100%;
    height: auto;
}
ul.product li .product-info{
    padding: 10px 0px;
}
ul.product li .product-info a{
    display: block;
    text-decoration: none;

}
ul.product li .product-info a.product-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}
ul.product li .product-info a.product-name{
    color: #334862;
    padding: 3px 0px;
}
ul.product li .product-info .product-price{
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}
#button-addon1 {
color: #ffc371;
}

i {
color: #ffc371;
}

.form-control::placeholder {
font-size: 0.95rem;
color: #aaa;
font-style: italic;
}

.form-control.shadow-0:focus {
box-shadow: none;
}
  