h1 {
   font-size: 20px;
}
p1 {
   font-size: 40px;
}
.right-item {
   font-family: Verdana, sans-serif;
   display: inline-block;
   border-color: rgb(208, 30, 30);
}
.logo {
   flex: 1;
}
li {
   list-style: none;
}
header {
   display: flex;
   justify-content:space-between ;
   padding: 0 50px;
   height: 70px;
}
.menu {
   display: flex;
   flex: 3;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   position: relative;
  
}
.menu >li:hover .sub-menu {
   display: block;
}
.sub-menu {
   position: relative;
   width: 150px;
   display: none;
}
.menu >li {
   padding: 0 14px;
}
.other {
   flex: 1;
   display: flex;
}
.other >li {
   padding: 0 14px;
}
.sidebar {
   height: 500px;
   width: 200px;
   border: 5px coral;
   float:left;
   margin-top: 5px;
   margin-left: 5px;
   background-color: blueviolet;
}
ul.list_sidebar {
   list-style: none;
   background-color: rgb(213, 213, 249);
   text-decoration: none;
}