/* ---Nav bar--- */
.nav-link:focus {
    font-weight: bold;
}


/* ---Banner slider--- */

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

.ctn-shop:hover {
    text-decoration: none;
}

.home-container {
    height: fit-content;
    background-color: #fff07f;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.1;
}

.slider-btn{
    margin-top: 30px;
}

.slider-btn .btn {
    background-color: #fff;
    color: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-right: 15px;
}

.banner h3{
    color: #111;
    margin: 50px 20px;
    text-align: center;
    font-size: x-small;
}

#dropdown-list{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    justify-content: center;
}

#buynow{
    text-decoration: none;
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
}
#buynow:hover{
    color: #555;
    background-color: none;

}
#wrapper{
    max-width: 1178px;
    margin: 8 auto;
}

.headline{
    margin: 0 auto;
    padding: 10px;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.headline-3{
  margin: 0 auto;
  padding: 20px;
  font-size: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: black;
}

.message-3 {
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: grey;
}

h3{
    font-size: 20px;
    color: #111;
    padding: 10px 20px;
    border: 1px solid #bebebe;
    text-transform: uppercase;
    color: #555;
    font-weight: 600;
}

#button-addon1 {
color: #ffc371;
}

i {
color: #ffc371;
}

.form-dangky{
    width: 70%;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

.login-1:hover {
    text-decoration: underline;
}

.form-dangnhap{
    width: 50%;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

/* CSS */
.suathongtin{
    font-family: 'Lato', sans-serif;
    width: 50%;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

.table-login {
    position: relative;
    margin: 20px auto;
    width: 540px;
    height: 300px;
    text-align: center;
    background-color: whitesmoke;
}

.old-pass {
    font-family:'Lato', sans-serif;
    font-size: 20px;
}

.new-pass {
    font-family:'Lato', sans-serif;
    font-size: 20px;
}

input[type="submit"] {
    background-color: white;
    color: #000;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #000;
    color: white;
    border-radius: 5px;
}
.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
  }
  
  .clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
  }
  
  /* Responsive Arrow Progress Bar */
  
  .container {
    font-family: 'Lato', sans-serif;
  }
  
  .arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 10px 0px 10px 0px;
    width: 15%;
    float: left;
    position: relative;
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .arrow-steps .step a {
    color: #777;
    text-decoration: none;
  }
  
  .arrow-steps .step:after,
  .arrow-steps .step:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #ddd;
    z-index: 2;
  }
  
  .arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
  }
  
  .arrow-steps .step:first-child:before {
    border: none;
  }
  
  .arrow-steps .step:last-child:after {
    border: none;
  }
  
  .arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .arrow-steps .step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .arrow-steps .step span {
    position: relative;
  }
  
  *.arrow-steps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 11px;
    line-height: 21px;
  }
  
  .arrow-steps .step.current {
    color: #fff;
    background-color: #5599e5;
  }
  
  .arrow-steps .step.current a {
    color: #fff;
    text-decoration: none;
  }
  
  .arrow-steps .step.current:after {
    border-left: 17px solid #5599e5;
  }
  
  .arrow-steps .step.done {
    color: #173352;
    background-color: #2f69aa;
  }
  
  .arrow-steps .step.done a {
    color: #173352;
    text-decoration: none;
  }
  
  .arrow-steps .step.done:after {
    border-left: 17px solid #2f69aa;
  }

  #search{
    width: 25rem;
  }

